body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #2b2d30; */
    background-image: url("rainy background.jpg");
    background-size: cover;
  }
    
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  #title {
    position: relative;
    margin-bottom: 60px;
    font-size: 80px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .squares-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .square {
    position: relative;
    height: 200px;
    width: 400px;
    background-color: #474343;
    opacity: 0.8;
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .mirrored-square {
    position: relative;
    height: 200px;
    width: 400px;
    background-color: #474343;
    opacity: 0.8;
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .header-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .headerData-container{
    position: absolute;
    top: 160%;
    left: 55%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    color: white;
  
  }
  
  .mirrored-header-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  #waterButton {
    position: absolute;
    margin-top: 600px;
    padding: 30px 40px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    z-index: 1;
  }
  
  #time {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    color: white;
    font-size: 2em;
  }

  .names-header{
    position: absolute;
    color: white;
    left: 85%;
    bottom: 125%;
    font-size: 24px;
  }